
body {
  background:#445;
}
#appcontainer{
  max-width:800px;
  margin-left:auto;
  margin-top:50px;
  margin-right:auto;
}
#contentcontainer {
    float:left;
    background:white;
  width:470px;
  height:600px;
  border-top-right-radius:10px;
  border-bottom-right-radius:10px;
  border 2px solid gray;
  padding:5px;
  margin-left:10px;
}
#interfacecontainer { 
    float:left;
  background:white;
  width:300px;
  height:600px;
  float:left;
  border-top-left-radius:10px;
  border-bottom-left-radius:10px;
  border 2px solid gray;
  padding:5px;
  overflow:auto;

}

#tofill {
  georgia,'times new roman',times,serif;
    font-size: 1.125rem;
    line-height: 1.5625rem;
}
.minislider {
    width:80%;
    float:right;
    
}
.sliderHolder {
    padding:5px; 
    
}

